// import Montserrat-Light from '../font/static/Montserrat-Light.ttf';

$bg-color:rgb(253, 252, 252);
/* $bg-color:rgb(152, 67, 67); */
$bg-gradient: linear-gradient(#f2f4ec, #455838);
$main-fontcolor: #00072d;

*{cursor: pointer;}
